*/ CART */
.wishlist_overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: var(--mainTransition);
  background: rgba(81, 145, 240, 0.5);
  z-index: 2;
  visibility: hidden;
}

.wishlist {
  position: fixed;
  top: 0;
  right: 0;
  width: 70%;
  height: 100%;
  overflow: scroll;
  z-index: 3;
  background: #fff;
  padding: 1.5rem;
  transition: var(--mainTransition);
  transform: translateX(100%);
 
}


.showWishlist {
  transform: translateX(0);
}
.transparentBcg {
  visibility: visible;
}

.wishlist_title {
  width: 40%;
  margin: auto;
}

.close_wishlist {
  cursor: pointer;

}

.wishlist_product {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* padding: 0 50px; */
    height: 180px;
    width: 100%;
}

.wishlist_product img {
    width: 30%;
    height:160px;
    border-radius: 10px;
    object-fit: cover;
}

.wishlist_product_details {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 20%;
}

.wishlist_product_title {
    font: bolder;
    font-size: 16px;
    font-weight: bold;
}

.product_count {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;

}

.remove_wishlist_item {
  cursor: pointer;
}

.remove_wishlist_item:hover {
  color: red;
}

.closeClear_wishlist_container {
  display: flex;
  justify-content: space-between;
}

.clear_wishlist {
    width: 150px;
    background-color: transparent;
    border: 3px solid #274C5B;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 700;
    border-radius: 4px;
    cursor: pointer;

}

.clear_wishlist:hover {
     border: 3px solid #df1616;
}

.clear_wishlist p:hover {
    color: rgb(194, 21, 21);
}

.wishToCart button {
  padding: 10px;
  text-transform: capitalize;
  background-color: #274C5B;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.wishToCart button:hover {
  border: 2px solid rgb(210, 210, 210);
}



.wishToCart button p {
  color: #fff;
}






/* 480-less    - phone landscape & smaller */
@media all and (max-width: 640px) { 
  .wishlist {
    width: 100%;
}

.wishlist_title {
  width: 40%;
  margin: 10px auto;
  font-size: 12px;
}


.wishlist_product {
    display: flex;
    align-items: center;
    height: 150px;
    width: 100%;
}

.wishlist_product img {
    width: 30%;
    height:120px;
    object-fit: cover;
}

.wishlist_product_details {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 40%;
    font-size: 12px;
}

.wishlist_product_title {
    font: bold;
    font-size: 12px;
    font-weight: bold;
}

.clear_wishlist {
    width: 100px;
    background-color: transparent;
    border: 1px solid #274C5B;
    font-size: 12px;
    text-transform: capitalize;
    font-weight: 400;
    border-radius: 4px;
    cursor: pointer;
    padding: 2px;

}


.wishToCart button {
  
  text-transform: capitalize;
  background-color: #274C5B;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}


.wishToCart button p {
  color: #fff;
  font-size: 12px;
}

}

/* TABLET VIEW */
/*  1024-768    - tablet landscape */
@media all and (min-width: 768px) and (max-width: 1024px) { 
 
}



@media all and (min-width: 1024px) and (max-width: 1836px) { 
  .wishlist {
    width: 40%;
}



}