@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&family=Yellowtail&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "open sans";
    text-transform: capitalize;
    
}

h1, h2 ,h3, h4, h5, h6, p {
    color: #274C5B;
}




/* 480-less    - phone landscape & smaller */
@media all and (max-width: 640px) {  
    .home_hero {
    width: 100%;
    height: 200px;
    display: flex;
    position: absolute;
    margin-top: 20px;
}

.left_hero {
   width: 40%;
   position: absolute;
   top: 50px;
   left: 20px;
}

.right_hero {
   width: 100%;
    
}

.right_hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.natural {
    font-family: "YellowTail";
    font-size: 12px;
}

.left_hero h1 {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 900;
    text-transform: none;
}

.left_hero button {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px;
    background-color: #EFD372;
    border-radius: 5px;
    border-color: transparent;
    margin-top: 5px;
}

.left_hero button p {
    font-family: "Roboto";
    text-transform: capitalize;
    font-size: 12px;
}


.home_part1 {
    width: 100%;
    margin-top: 250px;
    display: flex;
    
}

.home_part1_left {
    width: 45%;
    margin: auto;
}

.home_part1_right {
    width: 45%;
    margin: auto;
}

.home_part1_left img {
    width: 100%;
}

.home_part1_right img {
    width: 100%;
}

/* HOME PART 2 */
.home_part2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 50px 0;
}

.home_part2_left {
    width: 90%;
    margin: auto;
}

.home_part2_left img {
    width: 100%;
}

.home_part2_right {
    width: 90%;
    margin: auto;
}

.forAbout {
    font-family: "YellowTail";
    font-size: 32px;
    color: #7EB693;
}

.home_part2_right h1 {
    font-family: "Roboto";
    font-size: 32px;
    font-weight: 900;
}

.part2para {
   font-size: 14px;
   text-align: justify;
}


.part2_imgText {
    display: flex;
    /* margin-top: 10px; */
}

.part2_imgText p {
 font-size: 14px;
}

.part2_imgText img {
    width: 100px;
}

.part2_imgText h2 {
    font-size: 18px;
    font-weight: 900;
}

.home_part2_right button {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 10px 15px;
    background-color: #274C5B;
    border-radius: 8px;
    border-color: transparent;
}

.home_part2_right button p {
color: #fff;
text-transform: capitalize;
}

.marginTop {
    margin-top: 20px;
}

.home_categories {
    width: 40%;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home_categories p {
    font-size: 16px;
}


.home_categories h1 {
    font-size: 18px;
    font-weight: 900;
}


/* PRODUCTS */
.home_products {
    width: 90%;
    margin: 100px auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
}

.product {
    width: 80%;
    margin: auto;
    position: relative;
    background-color: #F9F8F8;
    border-radius: 10px;

}

.product_category {
    width: 30%;
    background-color: #274C5B;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    margin-top: 20px;
}

.product_category p {
    color: #fff;
}

.product img {
    width: 100%;
    height: 320px;
    object-fit: contain;
}

.product_title {
    font-family: "Roboto";
    font-weight: 900;
    font-size: 16px;
    margin-left: 15px;
}

.product hr {
    width: 90%;
    margin: auto;
    border: 1px solid #DEDDDD;
}



.price_star {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.discount_price {
    display: flex;
    align-items: center;
    gap: 10px;
}

.discount {
    text-decoration: line-through;
    color: #B8B8B8;
    font-size: 14px;
}

.price {
    font-weight: 700;
}


.loadMore_container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.load_more {
    text-transform: capitalize;
    padding: 15px 30px;
    background-color: #274C5B;
    border-color: transparent;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.load_more p {
    color: #fff;
    font-family: "Roboto";
    font-size: 16px;
}



.category_wish {
    display: flex;
    justify-content: space-around;
}

.addToWish {
    margin-top: 20px;
}

.title_addToCart {
    display: flex;
    gap: 20px;
}

.addToCart {
    display: flex;
    align-items: center;
    gap: 2px;
    padding: 5px;
    border-color: transparent;
    border-radius: 4px;
    background-color: #274C5B;
    cursor: pointer;
    margin-top: -10px;
}

.addToCart p {
    text-transform: capitalize;
    color: #fff;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* CUSTOMER REVIEWS SECTION */
.customer_container {
    width: 100%;
    height: 250px;
    background-image: url("./images/Background.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.upper_customer {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lower_customer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 100px 0;
}

.upper_one {}


.upper_two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0 40px;
}

.upper_one h3 {
    text-align: center;
    font-family: "YellowTail";
    color: #7EB693;
}

.upper_one h1 {
    font-size: 16px;
}

.upper_two img {
    width: 100px;
    border-radius: 60px;
}

.upper_two p {
    text-align: center;
    font-size: 12px;
}


.stat_number {
    width: 200px;
    height: 200px;
    border: 2px solid #7EB693;
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


}




/* TABLET VIEW */
/*  1024-768    - tablet landscape */
@media all and (min-width: 768px) and (max-width: 1024px) { 
     .home_hero {
    width: 100%;
    height: 400px;
    display: flex;
    position: absolute;
    margin-top: 20px;
}

.left_hero {
   width: 40%;
   position: absolute;
   top: 120px;
   left: 80px;
}

.right_hero {
   width: 100%;
    
}

.right_hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.natural {
    font-family: "YellowTail";
    font-size: 18px;
}

.left_hero h1 {
    font-family: "Roboto";
    font-size: 32px;
    font-weight: 900;
    text-transform: none;
}

.left_hero button {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px;
    background-color: #EFD372;
    border-radius: 5px;
    border-color: transparent;
    margin-top: 5px;
}

.left_hero button p {
    font-family: "Roboto";
    text-transform: capitalize;
    font-size: 18px;
}


.home_part1 {
    width: 100%;
    margin-top: 450px;
    display: flex;
}

.home_part1_left {
    width: 45%;
    margin: auto;
}

.home_part1_right {
    width: 45%;
    margin: auto;
}

.home_part1_left img {
    width: 100%;
}

.home_part1_right img {
    width: 100%;
}


/* HOME PART 2 */
.home_part2 {
    width: 100%;
    display: flex;
    margin: 50px 0;
    padding: 0 20px;
}

.home_part2_left {
    width: 50%;
    margin: auto;
}

.home_part2_left img {
    width: 100%;
}

.home_part2_right {
    width: 50%;
    margin: auto;
}

.forAbout {
    font-family: "YellowTail";
    font-size: 32px;
    color: #7EB693;
}



.home_part2_right h1 {
    font-family: "Roboto";
    font-size: 32px;
    font-weight: 900;
}

.part2para {
   font-size: 14px;
   text-align: justify;
}

.part2_imgText {
    display: flex;
    /* margin-top: 10px; */
}

.part2_imgText p {
 font-size: 14px;
}

.part2_imgText img {
    width: 100px;
}

.part2_imgText h2 {
    font-size: 18px;
    font-weight: 900;
}

.home_part2_right button {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 10px 15px;
    background-color: #274C5B;
    border-radius: 8px;
    border-color: transparent;
}

.home_part2_right button p {
color: #fff;
text-transform: capitalize;
}


.home_categories {
    width: 40%;
    margin: 150px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.home_categories h1 {
    font-size: 32px;
    font-weight: 900;
}


/* PRODUCTS */
.home_products {
    width: 90%;
    margin: 100px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

.product {
    width: 80%;
    height: 430px;
    margin: auto;
    position: relative;
    background-color: #F9F8F8;
    border-radius: 10px;

}

.product_category {
    width: 30%;
    background-color: #274C5B;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    margin-top: 20px;
}

.product_category p {
    color: #fff;
}

.product img {
    width: 100%;
    height: 300px;
    object-fit: contain;
}

.product_title {
    font-family: "Roboto";
    font-weight: 900;
    font-size: 16px;
    margin-left: 15px;
}

.product hr {
    width: 90%;
    margin: auto;
    border: 1px solid #DEDDDD;
}



.price_star {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.discount_price {
    display: flex;
    align-items: center;
    gap: 10px;
}

.discount {
    text-decoration: line-through;
    color: #B8B8B8;
    font-size: 14px;
}

.price {
    font-weight: 700;
}


.loadMore_container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.load_more {
    text-transform: capitalize;
    padding: 15px 30px;
    background-color: #274C5B;
    border-color: transparent;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.load_more p {
    color: #fff;
    font-family: "Roboto";
    font-size: 16px;
}

.category_wish {
    display: flex;
    justify-content: space-around;
}

.addToWish {
    margin-top: 20px;
}

.title_addToCart {
    display: flex;
    gap: 10px;
}

.addToCart {
    display: flex;
    align-items: center;
    gap: 2px;
    padding: 5px;
    border-color: transparent;
    border-radius: 4px;
    background-color: #274C5B;
    cursor: pointer;
    margin-top: -10px;
}

.addToCart p {
    text-transform: capitalize;
    color: #fff;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


}



@media all and (min-width: 1024px) and (max-width: 1836px) {
    /* Home Hero */
.home_hero {
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    position: relative;
}

.left_hero {
    width: 30%;
    margin: auto;
    position: absolute;
    left: 300px;
    top: 180px;
}

.right_hero {
    width: 70%;
    margin: auto;
    
}

.right_hero img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.natural {
    font-family: "YellowTail";
    font-size: 24px;
}

.left_hero h1 {
    font-family: "Roboto";
    font-size: 48px;
    font-weight: 900;
    text-transform: none;
}

.left_hero button {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 15px;
    background-color: #EFD372;
    border-radius: 5px;
    border-color: transparent;
    margin-top: 20px;
}

.left_hero button p {
    font-family: "Roboto";
    text-transform: capitalize;
}



.home_part1 {
    width: 100%;
    margin-top:80px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.home_part1_left {
    width: 35%;
}

.home_part1_right {
    width: 35%;
}

.home_part1_left img {
    width: 100%;
}

.home_part1_right img {
    width: 100%;
}


/* HOME PART 2 */
.home_part2 {
    width: 95%;
    display: flex;
    margin: 50px 0;
    padding: 0 20px;
}

.home_part2_left {
    width: 45%;
    margin: auto;
}

.home_part2_left img {
    width: 100%;
}

.home_part2_right {
    width: 40%;
    margin: auto;
}

.forAbout {
    font-family: "YellowTail";
    font-size: 36px;
    color: #7EB693;
}



.home_part2_right h1 {
    font-family: "Roboto";
    font-size: 44px;
    font-weight: 900;
}

.part2para {
   font-size: 24px;
   text-align: justify;
}

.part2_imgText {
    display: flex;
}

.part2_imgText p {
 font-size: 18px;
}

.part2_imgText img {
    width: 100px;
}

.part2_imgText h2 {
    font-size: 24px;
    font-weight: 900;
}

.home_part2_right button {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 20px 20px;
    background-color: #274C5B;
    border-radius: 8px;
    border-color: transparent;
}

.home_part2_right button p {
color: #fff;
text-transform: capitalize;
}

.marginTop {
    margin-top: 20px;
}

.home_categories {
    width: 40%;
    margin: 200px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.home_categories h1 {
    font-size: 32px;
    font-weight: 900;
}


/* PRODUCTS */
.home_products {
    width: 90%;
    margin: 100px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
}

.product {
    width: 80%;
    height: 430px;
    margin: auto;
    position: relative;
    background-color: #F9F8F8;
    border-radius: 10px;

}

.product_category {
    width: 30%;
    background-color: #274C5B;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    margin-right: 70px;
    margin-top: 20px;
}

.product_category p {
    color: #fff;
}

.product img {
    width: 100%;
    height: 300px;
    object-fit: contain;
}

.product_title {
    font-family: "Roboto";
    font-weight: 900;
    font-size: 16px;
    margin-left: 15px;
}

.product hr {
    width: 90%;
    margin: auto;
    border: 1px solid #DEDDDD;
}



.price_star {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.discount_price {
    display: flex;
    align-items: center;
    gap: 10px;
}

.discount {
    text-decoration: line-through;
    color: #B8B8B8;
    font-size: 14px;
}

.price {
    font-weight: 700;
}


.loadMore_container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.load_more {
    text-transform: capitalize;
    padding: 15px 30px;
    background-color: #274C5B;
    border-color: transparent;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.load_more p {
    color: #fff;
    font-family: "Roboto";
    font-size: 16px;
}

.category_wish {
    display: flex;
    justify-content: space-around;
}

.addToWish {
    margin-top: 20px;
}

.title_addToCart {
    display: flex;
    gap: 20px;
}

.addToCart {
    display: flex;
    align-items: center;
    gap: 2px;
    padding: 5px;
    border-color: transparent;
    border-radius: 4px;
    background-color: #274C5B;
    cursor: pointer;
    margin-top: -10px;
}

.addToCart p {
    text-transform: capitalize;
    color: #fff;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


}